$breakpoint:lg,sm;
@each $bp in $breakpoint{
    @if($bp==lg){
        @for $i from 1 through 12{
            .col-#{$bp}-#{$i}{
                width: 100%/12*$i;
            }
         }
    }
    @else if($bp==sm){
        @media screen and (max-width:650px){
            @for $i from 1 through 12{
                .col-#{$bp}-#{$i}{
                    width: 100%/12*$i;
                }
            }
            .row{
              display: flex;
              flex-direction: column;
              justify-content: center;
            }
        }
    }
}
