$i:1;

@for $i from 1 through 12{
    .list-#{$i}{
        width: $i*1px;
    }
}
$k:2;
@while($k<7){
    .list-#{$k}{
        width: $k*1px;
    }
    $k:$k+1;
}
@function sum ($first,$second){
@return $first+$second;
}

