a {
  text-decoration: none;
}
#cities {
  background-color: black;
  font-family: sans-serif;
  padding-bottom: 10%;
}
.city {
  margin: 5px;
}
.city-title {
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  line-height: 50px;
}
.city-list {
  color: gray;
  background-color: white;
  display: inline-block;
  width: 100%;
}
.city-list ul li {
  height: 50px;
  list-style: none;
  padding: 20px 30px;
}
.city-date {
  color: gray;
}
.city .city-image img {
  width: 100%;
}
.city .city-info {
  padding: 15px;
  background-color: white;
}
.city .city-info h1,
.city .city-info p {
  margin-bottom: 15px;
}
.city .city-info button {
  background-color: black;
  color: white;
  padding: 10px;
  margin-top: 15px;
  border: none;
}
.container {
  width: 800px;
  margin: auto;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 2000px;
  font-family: sans-serif;
}

/* nav */
.icon-nav {
  padding: 20px;
  cursor: pointer;
}

nav {
  position: sticky;
  top: 0;
  z-index: 3;
}

.navbar {
  color: white;
  background-color: black;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.navbar ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-left: 30px;
}
.navbar ul li {
  padding-left: 20px;
  padding-top: 20px;
  cursor: pointer;
}
.navbar ul li {
  padding-top: 20px;
  padding-right: 30px;
  cursor: pointer;
}

.navbar ul li ul {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  padding-bottom: 10px;
  display: none;
}
.navbar ul li:hover ul {
  display: block;
}
.navbar ul li ul li {
  color: black;
}
.hamburger {
  display: none;
}

/* portrait */
#photographer {
  padding: 0 0 4rem;
}
.band-portrait {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portrait img {
  width: 100%;
}

/* map */

.map img {
  width: 100%;
}

/* social */
.social {
  text-align: center;
  color: gray;
  margin-top: 15px;
  font-size: x-large;
}
.social h4 {
  text-align: center;
}

.contact-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 50px;
}
.contact-title h1 {
  letter-spacing: 10px;
  font-size: xx-large;
}
.contact-title h5 {
  color: gray;
}
.contact-info .map,
.contact-info .phone,
.contact-info .envelop {
  display: flex;
  margin-top: 15px;
}
.contact-info h1 {
  margin: 5px;
}
.contact-info h2 {
  font-size: 20px;
}

.xx-contact {
  display: flex;
}
.xx-contact input {
  height: 50px;
  padding: 17px;
}
.x-contact {
  display: flex;
}

.contact-name input,
.contact-email input {
  width: 100%;
}

.contact-message {
  display: flex;
  flex-direction: column;
}

#contact {
  padding: 20px 0;
}
/* contact.html */
#connection {
  font-family: "FontAwesome";
}
#connection .connection__title {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#connection .connection__title h1 {
}
#connection .connection__body {
  display: flex;
}
#connection .connection__body .connection__body__frame {
  border: 1px solid;
  text-align: center;
  border-radius: 1rem;
  padding: 2rem 0;
  margin: 0 2rem;
}
#connection .connection__body .connection__body__frame .connection__body__icon {
  color: #75975e;
}
#connection
  .connection__body
  .connection__body__frame
  .connection__body__icon
  i {
  font-size: 4rem;
}
#connection .connection__body .connection__body__frame .connection__body__info {
}
#connection
  .connection__body
  .connection__body__frame
  .connection__body__info
  h3 {
}
#connection
  .connection__body
  .connection__body__frame
  .connection__body__info
  h4 {
  font-size: 1rem;
  line-height: 2rem;
}
#connection
  .connection__body
  .connection__body__frame
  .connection__body__button {
}
#connection
  .connection__body
  .connection__body__frame
  .connection__body__button
  button {
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
}
#dua-lipa {
  width: 100%;
  height: 100vh;
  background-image: url("../images/dua-lipa2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 4rem;
  z-index: -1;
  background-attachment: fixed;
}
#dua-lipa h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-family: "FontAwesome";
}
#faq {
}
#faq .accordion {
  margin: 4rem 0;
}
#faq .accordion .accordion-title {
  display: flex;
  justify-content: space-between;
  margin: 0 0 2rem;
}
#faq .accordion .accordion-title h1 {
  font-family: "FontAwesome";
}
#faq .accordion .accordion-title i {
  font-size: 3rem;
  color: rebeccapurple;
}
#faq .accordion .content-box {
  margin: 0 0 1rem;
}
#faq .accordion .content-box .label {
  background: #232121bf;
  color: white;
  font-family: "FontAwesome";
  padding: 1rem 0.4rem;
  border-radius: 0.6rem;
  position: relative;
}
#faq .accordion .content-box .label::before {
  content: "+";
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-60%);
}
#faq .accordion .content-box.active .label::before {
  content: "-";
  font-size: 3rem;
}
#faq .accordion .content-box .content {
  font-family: fantasy;
  background: aliceblue;
  height: 0;
  overflow: hidden;
  overflow-y: auto;
  transition: 0.5s all ease;
}
#faq .accordion .content-box.active .content {
  font-family: fantasy;
  background: aliceblue;
  padding: 0.4rem;
  height: auto;
}
#blog1 {
  font-family: cursive;
}
.slider {
  position: relative;
}

.slider .items {
  position: relative;
  height: 360px;
}

.slider .items .item {
  position: absolute;
  z-index: 0;
  opacity: 0;
  transition: all 0.5s;
}

.slider .items .item.active {
  z-index: 1;
  opacity: 1;
}

.slider .next,
.slider .previous {
  position: absolute;
  top: 60%;
  z-index: 2;
  font-size: 40px;
  color: white;
  left: 20px;
  cursor: pointer;
}

.slider .next {
  left: initial;
  right: 20px;
}
#blog2 {
  margin-top: 10rem;
  font-family: cursive;
}
#blog2 .dua-circle {
  vertical-align: middle;
  width: 50%;
  float: left;
  shape-outside: circle();
  margin: 0 8rem 0 2rem;
}
p span {
  cursor: pointer;
}

p span.active,
p span:hover {
  background-color: yellow;
}
