@import "./common/grid";
@import "./common/placeholder";
@import "./common/while&for&function";
@import "./common/mixin";

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  width: 66%;
  margin: 0 auto ;
  background-color: green;
  display: flex;
  justify-content: space-evenly;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 200px;
  height: 200px;
  background-color: goldenrod;
  margin: 10px;
  @extend %fontholder;
}

.wrapper{
  width: 200px;
  height: 200px;
  background-color: red;
  &__second{
    width: 150px;
    height: 150px;
    background-color: goldenrod;
    @include interpolation(padding,background-color);
    &--duplicate{
      width: 100px;
      height: 100px;
      background-color: green;
      padding: sum(20px,80px);
     @include rotation(170deg);
    }
  }
}


